@model CategorieViewModel



    <div class="text-center">
    

    @foreach (var category in Model.Categories)
    {
        <p>@category.Id - @category.Title</p>
    }

    @Html.ActionLink("Blogs", "Blogs", "Home")

   
    
   @*  @foreach (var blog in Model.BlogViewModel.BlogList)
    {
        <p>@blog.Id - @blog.Title</p>
    } *@

    
</div>
